/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #f44336;
  --ifm-color-primary-dark: #f2291a;
  --ifm-color-primary-darker: #f01d0d;
  --ifm-color-primary-darkest: #c6180b;
  --ifm-color-primary-light: #f65d52;
  --ifm-color-primary-lighter: #f66b60;
  --ifm-color-primary-lightest: #f9928b;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #f44336;
  --ifm-color-primary-dark: #f2291a;
  --ifm-color-primary-darker: #f01d0d;
  --ifm-color-primary-darkest: #c6180b;
  --ifm-color-primary-light: #f65d52;
  --ifm-color-primary-lighter: #f66b60;
  --ifm-color-primary-lightest: #f9928b;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.footer {
  background-color: var(--ifm-navbar-background-color);
}
